{% extends 'base.html' %}
{% load static %}


{% block content%}
<main>
    <h1 class="visually-hidden">Магазин мороженого Gllacy</h1>
    <section class="container promo">
        <h2 class="visually-hidden">Промо</h2>
        <div class="promo_main">
            <div class="slide slide_active slide1">
                <h3 class="promo-title">Крем-брюле и пломбир с малиновым джемом</h3>
                <button class="button btn_ice-cream">Давайте оба!</button>
            </div>
            <div class="slide slide2">
                <h3 class="promo-title">Шоколадный пломбир и лимонный сорбет </h3>
                <button class="button btn_ice-cream">Давайте оба!</button>
            </div>
            <div class="slide slide3">
                <h3 class="promo-title">Пломбир с помадкой и клубничный щербет</h3>
                <button class="button btn_ice-cream">Давайте оба!</button>
            </div>
            <ul class="promo-buttons">
                <li>
                    <button class="btn_circle btn_circle_active"></button>
                </li>
                <li>
                    <button class="btn_circle"></button>
                </li>
                <li>
                    <button class="btn_circle"></button>
                </li>
            </ul>
        </div>

    </section>
    <section class="stock container">
        <h2 class="visually-hidden">Акции</h2>
        <div class="stock_card stock_card_raspberry">
            <h3 class="stock_title">Малинка даром!</h3>
            <p class="stock_text">При покупке 2 кг любого фруктового мороженого, добавим в ваш заказ банку
                малинового варенья
                бесплатно.</p>
            <button class="button stock_btn">Хочу варенье!</button>
        </div>
        <div class="stock_card stock_card_chocolate">
            <h3 class="stock_title">Шоколадки даром!</h3>
            <p class="stock_text">При покупке 2 кг пломбира, добавим в ваш заказ упаковку вкуснейшей шоколадной
                присыпки совершенно
                бесплатно.</p>
            <button class="button stock_btn stock_btn_chocolate">Хочу шоколадки!</button>
        </div>
    </section>
    <section class="container ">
        <h2 class="visually-hidden">Хиты</h2>
        <ul class="ice_cream ice_cream_index">
            {% for product in hits %}
                {% include 'product.html' %}
            {% endfor %}
            {# Этот комментарий не будет виден в итоговом HTML #}
        </ul>
    </section>
    <section class="about container">
        <h2 class="visually-hidden">О Компании</h2>
        <b class="intr_company">Магазин Глэйси — это онлайн- и офлайн-магазин по продаже мороженого собственного
            производства на
            развес</b>
        <ul class="des_company">
            <li class="des_ice_cream1 des_ice_cream">
                Все наше мороженое изготавливается на собственном производстве, с использованием современного
                оборудования и проверенных временем технологий.
            </li>
            <li class="des_ice_cream3 des_ice_cream">
                Закупка ингредиентов производится только у проверенных фермерских хозяйств и компаний, с которыми
                нас связывает долговременное сотрудничество.
            </li>
            <li class="des_ice_cream2 des_ice_cream">
                Для приготовления мороженого используются настоящие сливки и молоко высочайшего качества. Все
                дополнительные ингредиенты и добавки произведены из натурального, экологически чистого сырья.
            </li>
            <li class="des_ice_cream4 des_ice_cream">
                Доставка нашего мороженого до заказчиков осуществляется в специальном термопаке, который не дает
                мороженому растаять в пути и позволяет сохранить превосходный вкус.
            </li>
        </ul>
    </section>
    <div class="container news_2">
        <section class="news new">
            <h2 class="intr_new">
                Новое в нашем блоге
            </h2>
            <a href=" " class="des_new aa">
                10 способов сервировки фруктовых щербетов к столу
            </a>
        </section>
        <section class="news mailing">
            <div class="mailing_wrapper">
                <h2 class="visually-hidden">Рассылка</h2>
                <p class="des_mailing">Подпишитесь на нашу сладкую рассылку и будете всегда в курсе всего самого
                    вкусного, что у нас происходит.
                    Обещаем не спамить и не слать всякой ненужной ерунды. Честно =)</p>
                <form action="{% url 'email_url' %}" method="post" class="mailing_form">
                    {% csrf_token %}
                    <input type="email" placeholder="email@example.com" name="email" class="email">
                    <button type="submit" class="button btn_mailing">Отправить</button>
                </form>
            </div>
        </section>
    </div>
    <section class="container parent">
        <h2 class="visually-hidden">Контакты</h2>
        <img src="{% static 'images/map.png'%}" alt="Карта" class="map">
        <img src="{% static 'svg/pin.svg' %}" alt="Указатель" class="pin">
        <div class="contacs">
            <p class="text_name">Адрес главного офиса и офлайн-магазина:</p>
            <p class="text_adress">ул. Большая Конюшенная 19/8, Санкт-Петербург</p>
            <p class="text_name mp">Для заказов по телефону:</p>
            <a href="tel:88124502525" class="num2 aa">8 812 450-25-25</a>
            <p class="time2">(с 10 до 20 ежедневно)</p>
            <button class="button btn_contacs">Форма обратной связи</button>
        </div>
    </section>

    <section class="popup">
        <b class="popup_lead">Мы обязательно вам ответим!</b>
        <form action="{% url 'popup' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Имя Фамилия" name="name" class="input_popup">
            <input type="email" placeholder="email@example.com" name="email" class="input_popup">
            <textarea name="comment" class="input_popup textarea_popup" placeholder="В свободной форме"></textarea>
            <button type="submit" class="button btn_form">Отправить</button>
        </form>
        <button class="btn_close">Закрыть</button>
    </section>
</main>
{% endblock %}